.navigation-link {
    font-family: 'Lobster', cursive;
    color: #ffae7e;
    text-align: center;
    padding-bottom: 2px;

    transition: color 0.2s ease;
}

.navigation-link:hover {
    color: #ff7b2f;
}

.navigation-link_active {
    color: #ff7b2f;

    box-shadow: 0 3px 0 0 #ff7b2f;
}
