.data-fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-fieldset__input {
    box-sizing: border-box;
    min-width: 300px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-width: 2px;

    font-family: Lobster, cursive;
    font-size: 1.8rem ;
}

.data-fieldset__input_disabled {
    pointer-events: none;
}

.data-fieldset__label {
    margin: 0 0 5px;
    width: 300px;

    font-size: 2.2rem;
    text-align: left;
}

.data-fieldset__button {
    padding: 10px 20px;
    min-width: 120px;

    border-radius: 50px;
    font-size: 1.8rem;
}

.data-fieldset__buttons {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
}
