.home {
    display: flex;
    align-items: center;
    padding: 30px 0;

    font-family: "Open Sans", Arial, sans-serif;
}

.home__heading {
    margin-bottom: 10px;

    font-family: Lobster, cursive;
    font-weight: 500;
    font-size: 4rem;
}

.home__side-heading {
    margin: 0 0 20px;
    font-size: 3rem;
}

.home__description {
    font-size: 1.6rem;
}

.home__info {
    width: 40%;
}

.home__fancy-picture {
    width: 60%;
}

@media (max-width: 991px) {
    .home__fancy-picture {
        display: none;
    }

    .home__info {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
}

.home__link {
    display: inline-block;
    border: none;
    padding: 15px 50px;

    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    outline: none;
    background: #ffae7e;
    color: #4a2359;
}

.home__link:hover {
    color: #8b256e;
    background: #ff7b2f;
}
