.loader-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.loader-page_theme_light {
    background: #ffae7e;
}

.loader-page_theme_dark {
    background: #4a2359;
}

.loader-page__title {
    text-align: center;
    font-weight: normal;
    font-family: 'Lobster', cursive;
}

.loader-page__title_theme_light {
    color: #4a2359;
}

.loader-page__title_theme_dark {
    color: #ffae7e;
}

.loader-page_fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}
