.loader-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #4a2359;
}

.loader-page__title {
    text-align: center;
    font-weight: normal;
    color: #ffae7e;
    font-family: 'Lobster', cursive;
}
