html {
    font-size: 10px;
    background: #77366b;
}

body {
    margin: 0;
    padding: 0;

    background: #77366b;
    background: url("./assets/images/main-background.png") top center repeat-x;
    background-size: auto 100%;

    color: #ffae7e;
    font-family: 'Lobster', cursive;
}

.display {
    font-size: 5rem;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.header_main {
    font-size: 4rem;
}

.header1 {
    font-size: 3rem;
}

.header2 {
    font-size: 2.5rem;
}

.header3 {
    font-size: 2rem;
}

.header4 {
    font-size: 1.6rem;
}

.text {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

._theme_main {
    padding: 30px 0;
    background: #ffae7e;
    color: #4a2359;
}

@media (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 810px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes main-hovering-lg {
    from {
        top: 50px;
    }
    to {
        top: 70px;
    }
}

@keyframes main-hovering-xl {
    from {
        top: 70px;
    }
    to {
        top: 100px;
    }
}

@keyframes hovering {
    from {
        top: 0;
    }

    to {
        top: 60px;
    }
}

@keyframes expansion {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(0.8);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        opacity: 0;
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
