.switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.switcher__option {
    min-width: 200px;
    padding: 5px 10px;
    margin: 0 0 10px 5px;
    border: 2px solid;
    box-sizing: border-box;

    font-size: 2rem;
    color: #4a2359;
    background: #ffae7e;

    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.switcher__option:not(.switcher__option_active):hover {
    color: #8b256e;
    background: #ff7b2f;
}

.switcher__option:first-child {
    padding-left: 15px;
}

.switcher__option:last-child {
    padding-right: 15px;
    margin-right: 0;

}

.switcher__option_active {
    background: #4a2359;
    color: #ffae7e;
    border-color: #4a2359;

    pointer-events: none;
}

@media (max-width: 576px) {
    .switcher {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .switcher__option {
        width: 300px;
        box-sizing: border-box;
        border-width: 2px;
        margin-right: 0;
    }
}
